[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
aws-cdk-core = "*"
black = "*"

[packages]
pandas = "*"
catboost = "*"
spacy = "*"
scikit-learn = "*"
python-dotenv = "*"
tweepy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
